<% include header.ejs %>

<div class="main-content">
    <% for(let i = 0; i < posts.length; i++) { %>
		  <div class="item">
				<% if(posts[i].source == "twitter") { %>
					 <% var tweetURL = "https://twitter.com/" + posts[i].apiObject.user.screen_name + "/" + "status" + "/" + posts[i].apiObject.id_str; %>
					 <blockquote class="twitter-tweet" data-lang="en">
						  <a href=<%= tweetURL %>></a>
					 </blockquote>
				<% } %>
				<% if(posts[i].source == "youtube") { %>
					 <% var youtubeURL = "https://www.youtube.com/embed/" + posts[i].apiObject.id %>
					 <iframe class="youtube-video" src=<%= youtubeURL %> frameborder="0" allowfullscreen></iframe>
				<% } %>
				<% if(posts[i].source == "reddit") { %>
					 <% var redditURL = "https://www.reddit.com" + posts[i].apiObject.permalink + "?ref=share&ref_source=embed" %>
					 <% var subredditURL = "https://www.reddit.com/" + posts[i].apiObject.subreddit_name_prefixed %>
					 <blockquote class="reddit-card">
						  <a href=<%= redditURL %>><%= posts[i].apiObject.title %></a>
						  from <a href=<%= subredditURL %>><%= posts[i].apiObject.subreddit_name_prefixed.replace("/r", "") %></a>
					 </blockquote>					 
				<% } %>
		  </div>
    <% } %>
</div>

<% include footer.ejs %>
